<div [formGroup]="formGroup">
  <mat-form-field class="full-width">
    <input matInput 
          [placeholder]="titulo" 
          type="number" 
          [min]="min" 
          [max]="max" 
          [step]="step" 
          [name]="controlName"
          [formControlName]="controlName">
    <mat-error *ngIf="validacao.hasErrorValidate(formControl, 'required')">Campo obrigatorio!</mat-error>
    <mat-error *ngIf="validacao.hasErrorValidate(formControl, 'min')">Valor mínimo é {{validacao.lengthValidate(formControl, 'min')}}!</mat-error>
    <mat-error *ngIf="validacao.hasErrorValidate(formControl, 'max')">Valor máximo é {{validacao.lengthValidate(formControl, 'max')}}!</mat-error>
  </mat-form-field>
</div>